<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<title>Sample_GoogleMap</title>
<!-- <script src="http://maps.google.com/maps/api/js?key={{ googlemap_key }}&language=ja"></script> -->
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>


<style>
html { height: 100% }
body { height: 100% }
#map { height: 100%; width: 100%}
</style>
</head>

<body>
<div id="map">
  <p>{{ array_lola0 }}</p>
</div>


<script>
  // $(function() {
  //   var POLLING_INTERVAL_TIME_IN_MILLIS = 30000; // 実行インターバル（ミリ秒）
    
  //   (function polling() {
  //       AutoReload();
  //       window.setTimeout(polling, POLLING_INTERVAL_TIME_IN_MILLIS);
  //   }());

  //   function AutoReload() {
  //     {% autoescape off %}
  //     var array_lola0 = {{ array_lola0 }};
  //     {% endautoescape %}

  //     $.ajax({
  //         type : "GET",
  //         data: {
  //             "array_lola0": array_lola0,
  //         },
  //         contentType: "application/json",
  //     }).done(function(data) {
  //         $('#map').text(array_lola0);
  //     }).fail(function(jqXHR, textStatus) {
  //         $('#map').text('fail');
  //     });
  //   }
  // });
</script>
</body>
</html>