<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<title>Sample_GoogleMap</title>
<script src="http://maps.google.com/maps/api/js?key={{ googlemap_key }}&language=ja"></script>



<style>
html { height: 100% }
body { height: 100% }
#map { height: 100%; width: 100%}
</style>
</head>

<body>
<div id="map"></div>

<script>

var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);

// var TokyoLatLng = new google.maps.LatLng(35.6809591,139.7673068);
// var TokyoLatLng = new google.maps.LatLng(35.6809591,139.7673068);
// var OsakaLatLng = new google.maps.LatLng(34.7024000,135.4959000);
var Options = {
 zoom: 5,      //地図の縮尺値
 center: MyLatLng,    //地図の中心座標
 mapTypeId: 'roadmap'   //地図の種類
};
var map = new google.maps.Map(document.getElementById('map'), Options);

function circle(LatLng,emotion){
  if(emotion>0){
    const cityCircle = new google.maps.Circle({
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillOpacity: 0.35,
        map,
        center: LatLng,
        radius: 180000*emotion,
        fillColor: "#FF0000",
        strokeColor: "#FF0000"
    });
  }else if (emotion<0){
    const cityCircle = new google.maps.Circle({
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillOpacity: 0.35,
        map,
        center: LatLng,
        radius: 180000*emotion,
        fillColor: "#007BC3",
        strokeColor: "#007BC3"
    });
  }
}

var Array_lola = {{array_lola}};
console.log(Array_lola);

for (var i=0; i<6; i++){
  for (var j=0; j<6; j++){
    var lo = Array_lola[i][j][0];
    var la = Array_lola[i][j][1];
    var emo = Array_lola[i][j][2];
    var LatLng = new google.maps.LatLng(lo,la);
    circle(LatLng,emo);
  }
}

</script>
</body>
</html>